.contact-avatar-pic {
    height: 35vh;
    width: 35vh;
}

.link-icon {
    height: 5vh;
    width: 5vh;
}

/* svg:hover {
    fill: orange!important;
} */

.contact-box {
    background-color: rgba(86,90,117,155);
}

.contact-card-wrapper {
    background-color: #c6b7be;
}

.contact-body {
    background-color: #0f0f1b;
}

/* .contact-row {
    padding: 3vh;
} */