html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #212529
}
#root {
  height: 100%;
}

.mine-navbar {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100vw;
  min-height: 5rem;
}

.nav-text {
  font-size: larger;
}

.my-carousel {
  height: 120vw;
  max-height: 700px;
  max-width: 1200px;
}

.carousel-container {
  height: 100vw;
  max-height: 600px;
  max-width: 1200px;
}

.caption {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.custom-caption { 
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px; border-radius: 5px; 
} 

.custom-caption h1, .custom-caption p { 
  color: white; /* White text for better contrast */ 
}

.carousel-image {
  max-width: 90vw;
  max-height: 65vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin: auto;
}

.link-icon {
  height: 5vw;
  max-height: 50px;
  width: 5vw;
  max-width: 50px;
}

.contact-box {
  background-color: rgba(86,90,117,155);
}

.contact-card-wrapper {
  background-color: #c6b7be;
}

.contact-body {
  background-color: #0f0f1b;
}

.contact-icons {
  font-size: 8vh;
}

.text-header {
  font-size: 7vw;
}

.funny-icon {
  height: 50vw;
  max-height: 200px;
  width: 50vw;
  max-width: 200px;
}

.portfolio-card {
  width: 18rem;
}

.inferno-divider {
  height: 5rem;
}

.blog-links {
  text-decoration: none;
}

.blog-links:hover {
  text-decoration: underline;
}

.contact-link:hover {
  font-size: larger;
}