html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #212529
}
#root {
  height: 100%;
}

.mine-navbar {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100vw;
}

.my-carousel {
  height: 80vh;
  max-width: 1200px;
}

.carousel-container {
  height: 70vh;
  max-width: 1200px;
}

.caption {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-image {
  max-width: 90vw;
  max-height: 65vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin: auto;
}

.contact-avatar-pic {
  height: 35vh;
  width: 35vh;
}

.link-icon {
  height: 5vh;
  width: 5vh;
}

.contact-box {
  background-color: rgba(86,90,117,155);
}

.contact-card-wrapper {
  background-color: #c6b7be;
}

.contact-body {
  background-color: #0f0f1b;
}

.text-header {
  font-size: 7vw;
}

.funny-icon {
  height: 22vh;
  width: 22vh;
}

.portfolio-card {
  width: 18rem;
}

.inferno-divider {
  height: 5rem;
}